.button {
  margin: 0;
  padding: 10px 15px;
  border: none;
  background-color: #00a884;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  box-shadow: 0px 0px 5px 0px #000000;
  cursor: pointer;
  opacity: 1;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  opacity: 0.8;
  transform: scale(1.02);
}

.redButton {
  background-color: #a92e2e;
}
